[Desktop Entry]
Version=1.0
Name=Leafpad
Comment=Simple GTK text editor
Exec=leafpad
Icon=leafpad
Terminal=false
Type=Application
Categories=Utility;TextEditor;
